#properties-col {
    white-space: pre-wrap;
}

#json-ld-header {
    padding: 20px 11px 20px 11px;
    margin-left: 20px;
}

#json-ld-col {
    white-space: pre-wrap;
    margin-left: 20px;
}

.properties-row {
    padding: 0 0.75rem;
}

.ld .container{
    width: 90%;
}

.row.properties-row.input-field {
    margin-top: 34px;
}
